.backg{
  background-color:#282f31;
  width:100%;
  height:100%;
}

.sbutton{
  position:absolute;
  text-shadow: black 0.1em 0.1em 0.98em !important;
  top:80%;
  left:50%;
  background-color:pink;
  margin-left: -75px;
}

.rbutton{
  position:absolute;
  text-shadow: black 0.1em 0.1em 0.98em !important;
  top:90%;
  left:50%;
  background-color: gray;
  color:white;
  margin-left: -75px;
  width:150px;
  border-radius: 0.3em;
}

.kbutton{
  position:absolute;
  text-shadow: black 0.1em 0.1em 0.98em !important;
  top:85%;
  left:50%;
  width:150px;
  border-radius: 0.3em;
  background-color:pink;
  margin-left: -75px;
}

.gray{
  background-color:gray;
}
.red{
  border-radius: 0.4em;
  background-color:#e52a3a;
  cursor: pointer;
  background: url('/a/sprites/app-bd5c3.png') 0px -1132px;
  -webkit-animation: swarm 7s linear infinite; 
  -moz-animation: swarm 7s linear infinite; 
  -o-animation: swarm 7s linear infinite; 
  animation: swarm 7s linear infinite; 
}
.green{
  border-radius: 0.4em;
  background-color:#1aaf5d;
  cursor: pointer;
  -webkit-animation: swarm 7s linear infinite; 
  -moz-animation: swarm 7s linear infinite; 
  -o-animation: swarm 7s linear infinite; 
  animation: swarm 7s linear infinite; 
background: url('/a/sprites/app-bd5c3.png') 0px -1428px;                                                      
}

.orange{
  border-radius: 0.4em;
  background-color:orange;
  cursor: pointer;
  -webkit-animation: swarm 7s linear infinite; 
  -moz-animation: swarm 7s linear infinite; 
  -o-animation: swarm 7s linear infinite; 
  animation: swarm 7s linear infinite; 
  background: url('/a/sprites/app-bd5c3.png') 0px -1075px;
}
  
.blue{
  border-radius: 0.4em;
  background-color:#2c96dd;
  cursor: pointer;
  -webkit-animation: swarm 7s linear infinite; 
  -moz-animation: swarm 7s linear infinite; 
  -o-animation: swarm 7s linear infinite; 
  animation: swarm 7s linear infinite; 
  background: url('/a/sprites/app-bd5c3.png') 0px -872px;                                                    
}
                                     
.yellow{
  border-radius: 0.4em;
  background-color:#f3c500;
  cursor: pointer;
  -webkit-animation: swarm 7s linear infinite;
  -moz-animation: swarm 7s linear infinite;
  -o-animation: swarm 7s linear infinite;
  animation: swarm 7s linear infinite;
  background: url('/a/sprites/app-bd5c3.png') 0px -1371px;                                         
}
.purple{
  cursor: pointer;
  border-radius: 0.4em;
  background-color:#573b7f;
  -webkit-animation: swarm 7s linear infinite; 
  -moz-animation: swarm 7s linear infinite; 
  -o-animation: swarm 7s linear infinite; 
  animation: swarmt 7s linear infinite; 
  background: url('/a/sprites/app-bd5c3.png') 0px -929px; 
}

@-webkit-keyframes swarm{
  from {
    -webkit-transform:
      rotate(0deg)
		  translate(-150px)
		  rotate(0deg);
  }
  to {
    -webkit-transform:
      rotate(360deg)
      translate(-150px) 
      rotate(-360deg);
  }
}

@keyframes swarm {
	from {
		transform: 
      rotate(0deg)
		  translate(-150px)
		  rotate(0deg);
	}
	to {
		transform: 
      rotate(360deg)
		  translate(-150px) 
	    rotate(-360deg);
	}
}


#angry{
  width:50px;
  height:50px;
}

.mouseswarm.main-view {
  background: white;
}

.mouseswarm .welcome-view {
  background: #eee;
  height: auto;
  width: auto;
  max-width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding:10px;
  text-align:center;
}